body{
    background-image: url("../src/images/background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: black;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.draw{ 
    padding-left: 100px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
